<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Adicionamos essas linhas-->
    <!-- Oferece para dispositivos que tem camera -->
    <uses-feature android:name="android.hardware.camera.any"/>

    <!-- Usuário tem q permitir manualmente -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Se eu quiser fazer de áudio mudar "CAMERA" para "RECORD_AUDIO", vai ficar assim: -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->

    <!-- usa internet para fazer o compartilhamento da foto (se necessário) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraAndroid"
        tools:targetApi="31">

        <!-- Adicionamos essas linhas (provider)-->
        <provider
            android:authorities="br.com.cameraandroid.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>

        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CameraAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>